name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  create: # create branch or tag
  release:
    types:
      - created

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - name: make packages
        run: make
      
      - name: Release
        uses: fnkr/github-action-ghr@v1
        if: startsWith(github.ref, 'refs/tags/')
        env:
          GHR_PATH: spks/
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
